name: PlatformIO Compile
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Configure Git
        run: |
          git config --global url."https://github.com/".insteadOf "git@github.com:"
          git config --global url."https://x-access-token:${{ github.token }}@github.com/".insteadOf "https://github.com/"

      - name: Install PlatformIO
        run: pip install --upgrade platformio

      - name: Run PlatformIO Build
        run: pio run

      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: firmware-stm32
          path: .pio/build/bluepill_f103c8/firmware.bin
